<h4>Users:</h4>


<div *ngFor="let user of users">
  {{user.name}}
</div>

<!--<div *ngFor="let pick of picklist">-->
  <!--{{pick.subject}}-->
<!--</div>-->

<br><br>


<form >
    <select #test>
      <option *ngFor="let pick of picklist"
              [value]="pick.pickId" >
        {{pick.subject}}
      </option>

    </select>
    <button (click)="testfunction(test.value);">submit</button>
</form>

<br><br>

<label>New User:</label>
<input placeholder="Name" #newName />
<button (click)="addUser(newName.value); newName.value=''">Add User</button>

<p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
